.progress-bar {
    margin-top: 25%;
    height: 10px;
    background-color: lightgray;
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .progress {
    height: 100%;
    background-color: darkblue;
    border-radius: 5px;
  }

  .input-field{
    margin-left: 5%;
    
  }
  .input-field input{
    margin: 1%;
    padding: 1%;
  }

  .column{
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
  }
  
  .preview{
    margin-left: 10%;
    margin-right: 20%;
    background-color: #1A2791;
    border-radius: 2rem;
    padding: 5%;
    color: white;
  }

  .column-three{
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;

  }
  .resume-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .resume-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .resume-container p,
  .resume-container li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .resume-container ul {
    margin-left: 20px;
  }